:root {
    --nearWhite: #f5f5f5;
    --whiteGrey: #d7d7d7;
    --lightGrey: #C2C2C2;
    --lighterGrey: #828282;
    /*b5b5b5*/
    --midLightGrey: #757575;
    --middleGrey: #696969;
    --midDarkGrey: #5C5C5C;
    --darkerGrey: #4f4f4f;
    --darkGrey: #404040;
    --nearBlack: #1e1e1e;
    /* Color used for elements and body text in "darkmode" */
    /* Color used for element text in "darkmode*/

    --cautionColor: #FCFC72;
    --subCautionColor: #E3E366;
    --dangerColor: #fd5b58ff;
    --subDangerColor: #E3524F;
    --infoColor: #3FAEFC;
    /* #57c9fa; */
    --subInfoColor: #399CE3;
    --successColor: #3FFC7B;
    /*#04AA6D; /* #58FC8C */
    --subSuccessColor: #39E36F;

    --maroon: #800000;

    --brown: #964B00;

    --ruby: #9B111E;

    --crimson: #DC143C;

    --red: #FF0000;
    
    --candyRed: #FF0800;
    
    --scarelt: #FF2400;

    --salmon: #FA8072;

    --rose: #FF007F;

    --pink: #FFC0CB;
    
    /* tan */

    /* sand */

    --orange: #FF8000;

    --amber: #FFBF00;

    --yellow: #FFFF00;

    --yellowGreen: #9ACD32;
    
    --limeGreen: #00FF00;
    
    --green: #008000;

    --armyGreen: #4B5320;

    --bottleGreen: #006A4E;

    --shamrock: #009E60;

    --jade: #00A86B;

    --mint: #3EB489;

    --emerald: #50C878;

    --seafoam: #9FE2BF;

    --aquamarine: #7FFFD4;

    --turquoise: #40E0D0;

    --cyan: #00FFFF;
    --aqua: #00FFFF;

    --vividSky: #00BFFF;
    --capri: #00BFFF;
    
    --azure: #007FFF;
    
    --blue: #0000FF;

    --navy: #000080;
    
    --midnightBlue: #191970;
    
    --indigo: #4B0082;
    
    --purple: #800080;
    
    --violet: #8F00FF;
    
    --magenta: #FF00FF;

    --lavender: #967BB6;

    --wisteria: #C9A0DC;

    --lilac: #C8A2C8;
    

    --darkShadow: rgba(0, 0, 0, 0.24);
    --darkShadowWeak: rgba(0, 0, 0, 0.1);
    --lightShadow: rgba(115, 115, 115, 0.24);
    --lightShadowWeak: rgba(115, 115, 115, 0.1);

    --roundedCorner: 5px;

    --sidebar-width: 12rem;
}

:focus,
:focus-visible,
:active {
    outline: none;
}

html,
body,
p,
ol,
ul,
li,
blockquote,
textarea,
pre,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    margin: 0;
}

footer,
header,
section {
    display: block;
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style: none;
}

hr {
    padding: 0;
    margin: 0.33rem 0;
}

hr.solid {
    border-bottom: unset;
    border-right: unset;
    border-left: unset;
    border-top: 1px solid;
}

hr.dotted {
    border-bottom: unset;
    border-right: unset;
    border-left: unset;
    border-top: 1px dotted;
}

hr.dashed {
    border-bottom: unset;
    border-right: unset;
    border-left: unset;
    border-top: 1px dashed;
}

hr.bold-1,
hr.bold {
    border-width: 1.5px;
}

hr.bold-2 {
    border-width: 2px;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    box-sizing: inherit;
}

body,
input {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

/* Color Themes  */

body,
body.theme-light {
    /* Color used for background formerly d3d3d3*/
    --colorBase: var(--nearWhite);
    /* Color slightly off from base color */
    --colorBaseWeak: var(--whiteGrey);
    /* Color used for elements and body text*/
    --primaryElementColor: var(--midLightGrey);
    /* Color slightly off from color first used for sidebar  */
    --subPrimeElementColor: var(--lighterGrey);
    /* Secondary color used for elements*/
    --secondaryElementColor: var(--middleGrey);
    /* Color used for text and outlines */
    --primaryLineColor: var(--nearBlack);

    --inverseLineColor: var(--nearWhite);

    --onBaseColorPrimary: var(--nearBlack);

    --onBaseColorSecondary: var(--darkGrey);

    --onBaseColorWeak: var(--lightGrey);

    --onElementColorPrimary: var(--nearWhite);

    --onElementColorSecondary: var(--whiteGrey);

    --primaryUIcolor: var(--nearWhite);

    --subPrimaryUIColor: var(--whiteGrey);

    --onUIColorPrimary: var(--nearBlack);

    --secondaryUIcolor: var(--nearWhite);

    --subSecondaryUIColor: var(--whiteGrey);

    --onUIColorSecondary: var(--nearBlack);

    --shadowColorPrimary: var(--darkShadow);

    --shadowColorSecondary: var(--darkShadowWeak);
}

body.theme-dark {
    --colorBase: var(--middleGrey);
    --colorBaseWeak: var(--midLightGrey);
    --primaryElementColor: var(--darkerGrey);
    --subPrimeElementColor: var(--midDarkGrey);
    --secondaryElementColor: var(--darkGrey);
    --primaryLineColor: var(--nearWhite);
    --inverseLineColor: var(--nearBlack);
    --onBaseColorPrimary: var(--nearWhite);
    --onBaseColorSecondary: var(--whiteGrey);
    --onBaseColorWeak: var(--lighterGrey);
    --onElementColorPrimary: var(--nearWhite);
    --onElementColorSecondary: var(--whiteGrey);
    --primaryUIcolor: var(--nearWhite);
    --subPrimaryUIColor: var(--whiteGrey);
    --onUIColorPrimary: var(--nearBlack);
    --secondaryUIcolor: var(--middleGrey);
    --subSecondaryUIColor: var(--midLightGrey);
    --onUIColorSecondary: var(--nearWhite);
    --shadowColorPrimary: var(--darkShadow);
    --shadowColorSecondary: var(--darkShadowWeak);
}

body.theme-night {
    --colorBase: var(--nearBlack);
    --colorBaseWeak: var(--darkGrey);
    --primaryElementColor: var(--midDarkGrey);
    --subPrimeElementColor: var(--darkerGrey);
    --secondaryElementColor: var(--middleGrey);
    --primaryLineColor: var(--nearWhite);
    --inverseLineColor: var(--nearBlack);
    --onBaseColorPrimary: var(--nearWhite);
    --onBaseColorSecondary: var(--whiteGrey);
    --onBaseColorWeak: var(--darkerGrey);
    --onElementColorPrimary: var(--nearWhite);
    --onElementColorSecondary: var(--whiteGrey);
    --primaryUIcolor: var(--whiteGrey);
    --subPrimaryUIColor: var(--lightGrey);
    --onUIColorPrimary: var(--nearBlack);
    --secondaryUIcolor: var(--darkGrey);
    --subSecondaryUIColor: var(--darkerGrey);
    --onUIColorSecondary: var(--lightGrey);
    --shadowColorPrimary: var(--lightShadow);
    --shadowColorSecondary: var(--lightShadowWeak);
}

progress,
.stack:not(:last-child),
/* .container:not(:last-child), */
.box:not(:last-child) {
    margin-bottom: 0.33rem;
}

.auto-space.vertical>*:not(:last-child),
.auto-space>*:not(:last-child) {
    margin-bottom: 0.33rem;
}

.auto-space.horizontal>*:not(:last-child) {
    margin-right: 0.33rem;
}

.row .stack:last-child,
/* .row .container:last-child, */
.row .box:last-child,
.slate-section .stack:last-child,
/* .slate-section .container:last-child, */
.slate-section .box:last-child,
body.format-sections section:not(.no-format) .stack:last-child,
/* body.format-sections section:not(.no-format) .container:last-child, */
body.format-sections section:not(.no-format) .box:last-child {
    margin-bottom: 0.33rem;
}

/* need highlight colors and classes */

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strike,
.strikethrough {
    text-decoration: line-through;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

strong,
.bold,
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
    font-weight: 600;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
    font-weight: normal;
}

.heading-1,
.title-1,
h1 {
    font-size: calc(1.5rem + 1.5vw);
}

.heading-2,
.title-2,
h2 {
    font-size: calc(1.25rem + 1.25vw);
}

.heading-3,
.title-3,
h3 {
    font-size: calc(1rem + 1vw);
}

.heading-4,
.title-4,
h4 {
    font-size: calc(1rem + 0.75vw);
}

.heading-5,
.title-5,
h5 {
    font-size: calc(1rem + 0.5vw);
}

.heading-6,
.title-6,
h6 {
    font-size: 1rem;
}

.tree a,
nav.sidebar a {
    text-decoration: none;

}

.tree *,
nav.sidebar:not(no-format) * {
    --treePadding: 0.25rem;
    padding: var(--treePadding);

}

.tree>:first-child,
.tree>ul+a,
.tree>ul+p,
.tree>ul+i,
nav.sidebar>ul:not(.no-format)+a,
nav.sidebar>ul:not(.no-format)+p,
nav.sidebar>ul:not(.no-format)+i,
nav.sidebar>a:first-of-type,
nav.sidebar>p:first-of-type,
nav.sidebar>i:first-of-type {
    font-weight: 600;
    border-radius: var(--roundedCorner);
}

.tree>:first-child::after,
.tree>ul+a::after,
.tree>ul+p::after,
.tree>ul+i::after,
nav.sidebar>ul:not(.no-format)+a::after,
nav.sidebar>ul:not(.no-format)+p::after,
nav.sidebar>ul:not(.no-format)+i::after,
nav.sidebar>a:first-of-type::after,
nav.sidebar>p:first-of-type::after,
nav.sidebar>i:first-of-type::after {
    content: "\a";
    white-space: pre;
}

.tree>ul>li,
.tree.left>ul>li,
nav.sidebar>ul:not(.no-format)>li,
nav.sidebar.left>ul:not(.no-format)>li {
    font-weight: normal;
    border-radius: var(--roundedCorner);
    background-color: unset;
    padding-left: calc(0.33rem + var(--treePadding));
}

.tree.right>ul>li,
nav.sidebar.right>ul:not(.no-format)>li {
    padding-left: unset;
    padding-right: calc(0.33rem + var(--treePadding));
}

/* Top level hover effect */
.tree>:first-child:hover,
.tree>ul+a:hover,
.tree>ul+p:hover,
.tree>ul+i:hover,
nav.sidebar>ul:not(.no-format)+a:hover,
nav.sidebar>ul:not(.no-format)+p:hover,
nav.sidebar>ul:not(.no-format)+i:hover,
nav.sidebar>a:first-of-type:hover,
nav.sidebar>p:first-of-type:hover,
nav.sidebar>i:first-of-type:hover {
    background-color: var(--primaryElementColor);
}

.tree.secondary-color>:first-child:hover,
.tree.secondary-color>ul+a:hover,
.tree.secondary-color>ul+p:hover,
.tree.secondary-color>ul+i:hover,
nav.sidebar.secondary-color>ul:not(.no-format)+a:hover,
nav.sidebar.secondary-color>ul:not(.no-format)+p:hover,
nav.sidebar.secondary-color>ul:not(.no-format)+i:hover,
nav.sidebar.secondary-color>a:first-of-type:hover,
nav.sidebar.secondary-color>p:first-of-type:hover,
nav.sidebar.secondary-color>i:first-of-type:hover {
    background-color: var(--secondaryElementColor);
}

/* Standard hover effect */
.tree>ul>li:hover,
nav.sidebar>ul:not(.no-format)>li:hover {
    background-color: var(--primaryElementColor);
}

.tree>ul>li+ul>li,
.tree.left>ul>li+ul>li,
nav.sidebar>ul:not(.no-format)>li+ul:not(.no-format)>li,
nav.sidebar.left>ul:not(.no-format)>li+ul:not(.no-format)>li {
    font-weight: normal;
    border-radius: var(--roundedCorner);
    background-color: unset;
    padding-left: calc(0.66rem + var(--treePadding));
}

.tree.right>ul>li+ul>li,
nav.sidebar.right>ul:not(.no-format)>li+ul:not(.no-format)>li {
    padding-left: unset;
    padding-right: calc(0.66rem + var(--treePadding));
}

.tree>ul>li+ul>li:hover,
nav.sidebar>ul:not(.no-format)>li+ul:not(.no-format)>li:hover,
.tree.secondary-color>ul>li:hover,
nav.sidebar.secondary-color>ul:not(.no-format)>li:hover {
    background-color: var(--secondaryElementColor);
}

.tree .selected,
nav.sidebar .selected {
    background-color: var(--infoColor) !important;
}

ul.bullet-point.disc,
ol.bullet-point.disc,
ul.bullet-point,
ol.bullet-point {
    list-style-type: disc;
}

ul.bullet-point.square,
ol.bullet-point.square {
    list-style-type: square;
}

ul.bullet-point.circle,
ol.bullet-point.circle {
    list-style-type: circle;
}

ul.bullet-point.dash,
ol.bullet-point.dash {
    list-style-type: "-";
}

ul.bullet-point.checkmark,
ol.bullet-point.checkmark {
    list-style-type: "\2713";
}

ul.bullet-point.x-mark,
ol.bullet-point.x-mark {
    list-style-type: "\2717";
}

ul.bullet-point.crossmark,
ol.bullet-point.crossmark {
    list-style-type: "\274C";
}

ul.bullet-point.plus,
ol.bullet-point.plus {
    list-style-type: "\1F7A3";
}

ul.bullet-point.arrowhead,
ol.bullet-point.arrowhead {
    list-style-type: "\27A4";
}

ul.bullet-point.star-black,
ol.bullet-point.star-black,
ul.bullet-point.star,
ol.bullet-point.star {
    list-style-type: "\2605";
}

ul.bullet-point.star-white,
ol.bullet-point.star-white {
    list-style-type: "\2606";
}

ul.bullet-point.spade-suit,
ol.bullet-point.spade-suit,
ul.bullet-point.spade,
ol.bullet-point.spade {
    list-style-type: "\2660";
}

ul.bullet-point.spade-white-suit,
ol.bullet-point.spade-white-suit,
ul.bullet-point.spade-white,
ol.bullet-point.spade-white {
    list-style-type: "\2664";
}

ul.bullet-point.heart-suit,
ol.bullet-point.heart-suit,
ul.bullet-point.heart,
ol.bullet-point.heart {
    list-style-type: "\2665";
}

ul.bullet-point.heart-white-suit,
ol.bullet-point.heart-white-suit,
ul.bullet-point.heart-white,
ol.bullet-point.heart-white {
    list-style-type: "\2661";
}

ul.bullet-point.club-suit,
ol.bullet-point.club-suit,
ul.bullet-point.club,
ol.bullet-point.club {
    list-style-type: "\2663";
}

ul.bullet-point.club-white-suit,
ol.bullet-point.club-white-suit,
ul.bullet-point.club-white,
ol.bullet-point.club-white {
    list-style-type: "\2667";
}

ul.bullet-point.diamond-suit,
ol.bullet-point.diamond-suit,
ul.bullet-point.diamond,
ol.bullet-point.diamond {
    list-style-type: "\2666";
}

ul.bullet-point.diamond-white-suit,
ol.bullet-point.diamond-white-suit,
ul.bullet-point.diamond-white,
ol.bullet-point.diamond-white {
    list-style-type: "\2662";
}

ul.inside,
ol.inside {
    list-style-position: inside;
}

ul.outside,
ol.outside {
    list-style-position: outside;
}

ul.no-style,
ol.no-style {
    list-style: none;
}

body,
main {
    background-color: var(--colorBase);
    color: var(--onBaseColorPrimary);
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}


.navbar {
    background-color: var(--primaryElementColor);
    color: var(--onElementColorPrimary);
    z-index: 10;
    display: flex;
    align-items: center;
    min-height: calc(1.5em + 0.75rem + 2px);

    padding: 0 0.33rem;
}

.navbar.seperate,
.navbar.push-apart,
.inline.seperate,
.inline.push-apart,
.container.seperate,
.container.push-apart {
    justify-content: space-between;
}

.navbar.split,
.inline.split,
.container.split {
    justify-content: space-around;
}

.navbar.split-evenly,
.inline.split-evenly,
.container.split-evenly {
    justify-content: space-evenly;
}

.navbar.center,
.navbar.push-center,
.inline.center,
.inline.push-center,
.container.center,
.container.push-center {
    justify-content: center;
}

.navbar.push-start,
.inline.push-start,
.container.push-start {
    justify-content: flex-start;
}

.navbar.push-end,
.inline.push-end,
.container.push-end {
    justify-content: flex-end;
}

.inline-block {
    display: inline-block;
}

.inline-flex,
:not(ol,ul).inline {
    display:inline-flex;
    align-items: baseline;
}

ol.inline-list:not(.bullet-point) li,
ul.inline-list:not(.bullet-point) li,
ol.inline:not(.bullet-point) li,
ul.inline:not(.bullet-point) li {
    display: inline;
}

ol.inline-list.bullet-point li:not(.no-spacer),
ul.inline-list.bullet-point li:not(.no-spacer),
ol.inline.bullet-point li:not(.no-spacer),
ul.inline.bullet-point li:not(.no-spacer) {
    float: left;
    padding-right: 1.5em;
}

ol.inline-list.bullet-point li.no-spacer,
ul.inline-list.bullet-point li.no-spacer,
ol.inline.bullet-point li.no-spacer,
ul.inline.bullet-point li.no-spacer {
    float: left;
}

ol.inline-list.bullet-point li.remove-point,
ul.inline-list.bullet-point li.remove-point,
ol.inline.bullet-point li.remove-point,
ul.inline.bullet-point li.remove-point {
    display: inline;
}

.sidebar,
.sidebar.left {
    background-color: var(--subPrimeElementColor);
    color: var(--onElementColorPrimary);
    display: block;
    position: fixed;
    z-index: 5;
    overflow-x: hidden;
    height: auto;
    width: var(--sidebar-width);
    padding: 1.08rem 1rem;
}

.sidebar.right {
    right: 0;
}

.sidebar.page-length {
    height: 100%;
}

.sidebar.page-length.absolute {
    position: absolute !important;
    min-height: 100%;
    height: fit-content !important;
}

.sidebar:not(.right)~main {
    margin-left: calc(var(--sidebar-width) + 1rem);
}

.sidebar.right~main {
    margin-right: calc(var(--sidebar-width) + 1rem);
}

header {
    background-color: var(--primaryElementColor);
    color: var(--onElementColorPrimary);
}

.container {
    display: flex;
    align-items: center;
}

.container:not(.no-auto-space)>* {
    margin: 0 calc(0.5rem - 1px);
}

.popup {
    position: relative;
    width: fit-content;
}

.popup .fill{
    width: auto;
}

.popup>.popup-content {
    display: none;
    z-index: 1;
    position: absolute;
    text-align: center;
    background-color: var(--popup-bg);
    color: var(--popup-color);
}

.popup-content.above {
    bottom: 125%;
    left: 10%;
    right: 10%
}

.popup-content.above::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--popup-bg) transparent transparent transparent;
}

.popup-content.below {
    top: 125%;
    left: 10%;
    right: 10%
}

.popup-content.below::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--popup-bg) transparent;
}

/* Left and right may need to go top 50% and bottom 50% no margin adjust */

.popup-content.left {
    top: 200%;
    right: 105%;
    margin-top: -50%;
}

.popup-content.left::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--popup-bg);
}

.popup-content.right {
    top: 200%;
    left: 105%;
    margin-top: -50%;
}

.popup-content.right::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--popup-bg) transparent transparent;
}

.popup-trigger.on-select:focus+.popup-content {
    display: block;
}

.popup {
    --popup-bg: var(--primaryElementColor);
    --popup-color: var(--onElementColorPrimary);
}

/* NEED TO FINISH TOOLTIPS */

.tooltip {
    position: relative;
}

.tooltip .tooltip-display {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.dropdown {
    position: relative;
}

.dropdown>.dropdown-trigger {
    display: block;
    margin-bottom: 0;
}

.dropdown>.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdownBg);
    color: var(--onDropdown);
    box-shadow: var(--dropdownShadow) 0px 3px 8px 0px;
    border-radius: var(--roundedCorner);
}

.dropdown>.dropdown-content>*{
    padding: 0.165rem;
    border-radius: inherit;
}

.dropdown>.dropdown-content>*:not(.no-hover):hover{
    background-color: var(--hoverColorSecondary);
}

.dropdown.hover>.dropdown-trigger {
    margin-bottom: 0;
}

.dropdown.hover>.dropdown-content {
    border-top-left-radius: 0;
    min-width: 110%;
}

.dropdown.hover:hover>.dropdown-trigger,
.dropdown.hover.show-hover>.dropdown-trigger,
.dropdown.hover:hover.full-length-hover,
.dropdown.hover.show-hover.full-length-hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--hoverColorPrimary);
}

.dropdown.hover:hover>.dropdown-content,
.dropdown.hover.show-hover>.dropdown-content,
.dropdown:not(.hover).selected>.dropdown-content,
.dropdown:not(.hover).show-selected>.dropdown-content
{
    display: block;
}

.dropdown {
    --dropdownBg: var(--primaryElementColor);
    --onDropdown: var(--onElementColorPrimary);
    --dropdownShadow: var(--shadowColorPrimary);
    --hoverColorPrimary: var(--secondaryElementColor);
    --hoverColorSecondary: var(--subPrimeElementColor);
}

progress:not(.no-format) {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 1rem;
    overflow: hidden;
    display: block;
    border: none;
    border-radius: var(--roundedCorner);
    width: 100%;
}

progress:not(.no-format).rounded {
    border-radius: 999px;
}

/* Color of not filled in */
progress::-webkit-progress-bar {
    background-color: var(--colorBaseWeak);
}

progress {
    background-color: var(--progress-fill);
}

progress::-ms-fill {
    background-color: var(--progress-fill);
}

progress::-moz-progress-bar {
    background-color: var(--progress-fill);
}

progress::-webkit-progress-value {
    background-color: var(--progress-fill);
}

progress:indeterminate {
    background-color: var(--colorBaseWeak);
    /* linear-gradient(90deg, rgba(215, 215, 215, 0) 0%, var(--progress-fill) 25%, rgba(215, 215, 215, 0) 50%, var(--progress-fill) 100%); */
    /* linear-gradient(90deg, rgba(215, 215, 215, 0) 20%, var(--progress-fill) 50%, rgba(215, 215, 215, 0) 80%); */
    /* linear-gradient(90deg, var(--progress-fill) 10%, rgba(215, 215, 215, 0) 50%, var(--progress-fill) 90%); */
    background-image: linear-gradient(90deg, rgba(215, 215, 215, 0) 25%, var(--progress-fill) 50%, rgba(215, 215, 215, 0) 75%);
    background-size: 150% 200%;
    background-position: 150% 50%;
    background-repeat: no-repeat;

    /* -webkit-animation-delay: 1s;
    animation-delay: 1s; */
    -webkit-animation-duration: 2.0s;
    animation-duration: 2.0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: progressIndeterminate;
    animation-name: progressIndeterminate;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

progress.bounce:indeterminate {
    /* -webkit-animation-delay: 1s;
    animation-delay: 1s; */
    -webkit-animation-duration: 2.0s;
    animation-duration: 2.0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: progressIndeterminateBounce;
    animation-name: progressIndeterminateBounce;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

progress:indeterminate::-webkit-progress-bar {
    background-color: transparent;
}

progress:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

progress:indeterminate::-ms-fill {
    animation-name: none;
    background-color: transparent;
}

progress.info,
progress {
    --progress-fill: var(--infoColor);
}

progress.caution {
    --progress-fill: var(--cautionColor);
}

progress.danger {
    --progress-fill: var(--dangerColor);
}

progress.success {
    --progress-fill: var(--successColor);
}

@-webkit-keyframes progressIndeterminateBounce {
    0% {
        background-position: 150% 50%;
    }

    100% {
        background-position: -50% 50%;
    }
}

@keyframes progressIndeterminateBounce {
    0% {
        background-position: 150% 50%;
    }

    100% {
        background-position: -50% 50%;
    }
}

@-webkit-keyframes progressIndeterminate {
    0% {
        background-position: 220% 50%;
    }

    100% {
        background-position: -120% 50%;
    }
}

@keyframes progressIndeterminate {
    0% {
        background-position: 220% 50%;
    }

    100% {
        background-position: -120% 50%;
    }
}


.button,
button {
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
    color: var(--btn-text);
    border-width: 1px;
    border-radius: var(--roundedCorner);
    padding: calc(0.5em - 1px);
    cursor: pointer;
    filter: brightness(100%);
}

/* NEED TO CHANGE HOVER EFFECT SO THAT IT CHANGES BG COLOR NOT FILTER */

.button:not(.no-hover):hover,
.button.show-hover:not(.no-hover),
button:not(.no-hover):hover,
button.show-hover:not(.no-hover) {
    filter: brightness(95%);
}

.button.rounded,
button.rounded {
    border-radius: 999px;
}

/* .button:hover {
    background-color: var(--primaryElementColor);
} */

.button,
.button.primary-color,
button,
button.primary-color {
    --btn-bg: var(--primaryUIcolor);
    --btn-border: var(--subPrimaryUIColor);
    --btn-text: var(--onUIColorPrimary);
}

.navbar .button,
.sidebar .button,
header .button,
footer .button,
.box .button,
.button.secondary-color,
.navbar button,
.sidebar button,
header button,
footer button,
.box button,
button.secondary-color {
    --btn-bg: var(--secondaryUIcolor);
    --btn-border: var(--subSecondaryUIColor);
    --btn-text: var(--onUIColorSecondary);
}

.button.white,
button.white {
    --btn-bg: var(--nearWhite);
    --btn-border: var(--whiteGrey);
    --btn-text: var(--nearBlack);
}

.button.caution,
button.caution {
    --btn-bg: var(--cautionColor);
    --btn-border: var(--subCautionColor);
    --btn-text: var(--nearBlack);
}

.button.danger,
button.danger {
    --btn-bg: var(--dangerColor);
    --btn-border: var(--subDangerColor);
    --btn-text: var(--nearBlack);
}

.button.info,
button.info {
    --btn-bg: var(--infoColor);
    --btn-border: var(--subInfoColor);
    --btn-text: var(--nearBlack);
}

.button.success,
button.success {
    --btn-bg: var(--successColor);
    --btn-border: var(--subSuccessColor);
    --btn-text: var(--nearBlack);
}

/* Button styles and groups */
.button,
a.button {
    display: inline-block;
    text-decoration: none;
    border-style: outset;
    text-align: center;
}

button:active:not(.no-border),
.button:active:not(.no-border),
a.button:active:not(.no-border) {
    border-style: inset;
}

button.no-border,
.button.no-border {
    border: none;
}

.button-strip {
    display: flex;
    align-items: center;
}

.button-strip .button,
.button-strip button {
    border-radius: 0;
}

.button-strip:not(.vertical) .button,
.button-strip:not(.vertical) button {
    margin: 0 -1px;
}

.button-strip:not(.vertical) .button:first-child,
.button-strip:not(.vertical) button:first-child {
    border-top-left-radius: var(--roundedCorner);
    border-bottom-left-radius: var(--roundedCorner);
    margin-left: 0;
}

.button-strip:not(.vertical) .button:last-child,
.button-strip:not(.vertical) button:last-child {
    border-top-right-radius: var(--roundedCorner);
    border-bottom-right-radius: var(--roundedCorner);
    margin-right: 0;
}

.button-strip:not(.vertical).rounded .button:first-child,
.button-strip:not(.vertical).rounded button:first-child {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.button-strip:not(.vertical).rounded .button:last-child,
.button-strip:not(.vertical).rounded button:last-child {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.button-strip.vertical {
    flex-direction: column;
}

.button-strip.vertical .button,
.button-strip.vertical button {
    margin: -1px 0;
    width: 100%;
}

.button-strip.vertical .button:first-child,
.button-strip.vertical button:first-child {
    border-top-left-radius: var(--roundedCorner);
    border-top-right-radius: var(--roundedCorner);
    margin-top: 0;
}

.button-strip.vertical .button:last-child,
.button-strip.vertical button:last-child {
    border-bottom-right-radius: var(--roundedCorner);
    border-bottom-left-radius: var(--roundedCorner);
    margin-bottom: 0;
}

.button-strip.vertical.rounded .button:first-child,
.button-strip.vertical.rounded button:first-child {
    padding-top: 0.75em;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
}

.button-strip.vertical.rounded .button:last-child,
.button-strip.vertical.rounded button:last-child {
    padding-bottom: 0.75em;
    border-bottom-right-radius: 999px;
    border-bottom-left-radius: 999px;
}


input {
    background-color: var(--primaryUIcolor);
    color: var(--secondaryElementColor);
    border-color: var(--subPrimaryUIColor);
    border-width: 1px;
    border-radius: var(--roundedCorner);
    min-height: 2em;
    /* May move to own cat to add text area */
}

.navbar input,
.sidebar input,
header input,
footer input,
.box input {
    background-color: var(--secondaryUIcolor);
    border-color: var(--subSecondaryUIColor);
    color: var(--onUIColorSecondary);
}

input.bright {
    background-color: #f5f5f5;
}

input.set-in {
    background-color: inherit;
    color: inherit;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid currentColor;
}

input.set-in::placeholder {
    color: var(--subPrimaryUIColor);
}

input:not(.no-hover):not(.set-in):hover,
input.show-hover:not(.set-in) {
    border-color: var(--primaryLineColor);
}

input:not(.no-selected):not(.set-in):focus,
input:not(.no-selected):not(.set-in):active,
input.show-selected:not(.set-in) {
    box-shadow: 0 0 0 0.1em #57c9fa;
    border-color: var(--primaryLineColor);
}

/* Tables with effect like hover */
/* Hide and show content with peek and show more  */

.code {
    font-family: 'Courier New', Courier, monospace;
}

.code-block {
    border-radius: var(--roundedCorner);
}

.stack {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.stack>:not(:last-child) {
    margin-bottom: 0.33rem;
}

/* .stack.center {
    margin-left: 0.33rem;
    margin-right: 0.33rem;
} */

.box {
    background-color: var(--box-bg);
    color: var(--box-text);
    border-radius: 7px;
    padding: 0.33rem;
}

.box {
    --box-bg: var(--primaryElementColor);
    --box-text: var(--onElementColorPrimary);
}

.box.white {
    --box-bg: var(--nearWhite);
    --box-text: var(--nearBlack);
}

.box.caution {
    --box-bg: var(--cautionColor);
    --box-text: var(--nearBlack);
}

.box.danger {
    --box-bg: var(--dangerColor);
    --box-text: var(--nearBlack);
}

.box.info {
    --box-bg: var(--infoColor);
    --box-text: var(--nearBlack);
}

.box.success {
    --box-bg: var(--successColor);
    --box-text: var(--nearBlack);
}

.fill {
    height: 100%;
    width: 100%;
}

.block {
    display: flex !important;
    background-color: var(--block-bg);
    color: var(--block-text);
    border-radius: 7px;
    padding: 0.33rem;
}

.block.size-contents>* {
    flex: 1 1 0;
}

.block.scroll {
    overflow-x: scroll;
    white-space: nowrap;
}

.block {
    --block-bg: var(--primaryElementColor);
    --block-text: var(--onElementColorPrimary);
}

.block.white {
    --block-bg: var(--nearWhite);
    --block-text: var(--nearBlack);
}

.block.caution {
    --block-bg: var(--cautionColor);
    --block-text: var(--nearBlack);
}

.block.danger {
    --block-bg: var(--dangerColor);
    --block-text: var(--nearBlack);
}

.block.info {
    --block-bg: var(--infoColor);
    --block-text: var(--nearBlack);
}

.block.success {
    --block-bg: var(--successColor);
    --block-text: var(--nearBlack);
}

.card {
    background-color: var(--cardBg);
    color: var(--onCardPrimary);
    border-radius: var(--roundedCorner);
    box-shadow: var(--cardBorder) 0px 3px 8px;
    margin: 8px;
    max-width: 100%;

    --card-spacing: 0.66rem;
}

.card.hover-raise {
    transition: 0.3s;
}

.card.no-shadow {
    box-shadow: none;
    border: 1px solid var(--cardBorder);
}

.card.flip>.front>.header:first-child,
.card.flip>.front>img:first-child,
.card.flip>.front>.body:first-child,
.card.flip>.front>.footer:first-child,
.card.flip>.back>.header:first-child,
.card.flip>.back>img:first-child,
.card.flip>.back>.body:first-child,
.card.flip>.back>.footer:first-child,
.card>.header:first-child,
.card>img:first-child,
.card>.body:first-child,
.card>.footer:first-child {
    border-top-left-radius: var(--roundedCorner);
    border-top-right-radius: var(--roundedCorner);
}

.card.flip>.front>.header:last-child,
.card.flip>.front>img:last-child,
.card.flip>.front>.body:last-child,
.card.flip>.front>.footer:last-child,
.card.flip>.back>.header:last-child,
.card.flip>.back>img:last-child,
.card.flip>.back>.body:last-child,
.card.flip>.back>.footer:last-child,
.card>.header:last-child,
.card>img:last-child,
.card>.body:last-child,
.card>.footer:last-child {
    border-bottom-left-radius: var(--roundedCorner);
    border-bottom-right-radius: var(--roundedCorner);
}

/* .card.flip>.front>.header:not(:last-child),
.card.flip>.front>img:not(:last-child),
.card.flip>.front>.body:not(:last-child),
.card.flip>.front>.footer:not(:last-child),
.card.flip>.back>.header:not(:last-child),
.card.flip>.back>img:not(:last-child),
.card.flip>.back>.body:not(:last-child),
.card.flip>.back>.footer:not(:last-child),
.card>.header:not(:last-child),
.card>img:not(:last-child),
.card>.body:not(:last-child),
.card>.footer:not(:last-child){
    padding-bottom: 0.66rem;
} */

.card.flip>.front>.shaded,
.card.flip>.back>.shaded,
.card>.shaded {
    background-color: var(--cardShaded);
}

.card.flip>.front>.info,
.card.flip>.back>.info,
.card>.info {
    background-color: var(--infoColor);
    color: var(--nearBlack);
}

.card.flip>.front>.success,
.card.flip>.back>.success,
.card>.success {
    background-color: var(--successColor);
    color: var(--nearBlack);
}

.card.flip>.front>.caution,
.card.flip>.back>.caution,
.card>.caution {
    background-color: var(--cautionColor);
    color: var(--nearBlack);
}

.card.flip>.front>.danger,
.card.flip>.back>.danger,
.card>.danger {
    background-color: var(--dangerColor);
    color: var(--nearBlack);
}

.card.flip>.front>.header,
.card.flip>.back>.header,
.card>.header {
    padding: calc(var(--card-spacing) / 2) var(--card-spacing);
    border-bottom: 1px solid var(--cardBorder);
}

.card.flip>.front>.body,
.card.flip>.back>.body,
.card>.body {
    padding: var(--card-spacing) var(--card-spacing);
}

.card.flip>.front>.footer,
.card.flip>.back>.footer,
.card>.footer {
    padding: calc(var(--card-spacing) / 2) var(--card-spacing);
    border-top: 1px solid var(--cardBorder);
}

.card.hover-raise:not(.flip, .no-shadow):hover {
    box-shadow: var(--cardBorder) 0px 6px 16px;
}

.card.no-shadow.hover-raise:not(.flip):hover {
    box-shadow: var(--cardBorder) 0px 3px 8px;
}

.card.flip>:not(.front, .back) {
    visibility: hidden;
}

.card {
    --cardBg: var(--colorBase);
    --cardSubBg: var(--colorBaseWeak);
    --onCardPrimary: var(--onBaseColorPrimary);
    --onCardSecondary: var(--onBaseColorSecondary);
    --onCardWeak: var(--onBaseColorWeak);

    --cardBorder: var(--shadowColorPrimary);
    --cardShaded: var(--shadowColorSecondary);
}

.card.theme-light {
    --cardBg: var(--nearWhite);
    --cardSubBg: var(--whiteGrey);
    --onCardPrimary: var(--nearBlack);
    --onCardSecondary: var(--darkGrey);
    --onCardWeak: var(--lightGrey);

    --cardBorder: var(--darkShadow);
    --cardShaded: var(--darkShadowWeak);
}

.card.theme-dark {
    --cardBg: var(--middleGrey);
    --cardSubBg: var(--midLightGrey);
    --onCardPrimary: var(--nearWhite);
    --onCardSecondary: var(--whiteGrey);
    --onCardWeak: var(--lighterGrey);

    --cardBorder: var(--darkShadow);
    --cardShaded: var(--darkShadowWeak);
}

.card.theme-night {
    --cardBg: var(--nearBlack);
    --cardSubBg: var(--darkGrey);
    --onCardPrimary: var(--nearWhite);
    --onCardSecondary: var(--whiteGrey);
    --onCardWeak: var(--darkerGrey);

    --cardBorder: var(--lightShadow);
    --cardShaded: var(--lightShadowWeak);
}

.flip-container>.flip {
    position: relative;
    perspective: 1000px;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip>.front,
.flip>.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-container:hover .flip.horizontal,
.flip.horizontal>.back,
.flip-container:hover .flip:not(.vertical),
.flip:not(.vertical)>.back {
    transform: rotateY(180deg);
}

.flip-container:hover .flip.vertical,
.flip.vertical>.back {
    transform: rotateX(180deg);
}

.fit-content {
    width: fit-content;
}

.center-elements {
    align-items: center;
    justify-content: center;
}

/* text and inner element control */

.center-text {
    text-align: center;
}

/* Slate Layout */
/* Sidebar Body Sidebar */
/* Slate Sections */

/* body.CLASS section {all sections if body has CLASS}
/* section or .section == container and like a row if there is no .row children */
/* Use .no-format to make section not function like a row or container  */
/* Use .row-contains-# to auto size items so that # of them fits in a row */

.slate-section,
body.format-sections section:not(.no-format) {
    display: flex !important;
    flex-wrap: wrap;
    width: auto;

}

.slate-section .row,
body.format-sections section:not(.no-format) .row {
    display: flex !important;
    flex-wrap: nowrap;
    width: auto;

}

.row>.format-all-elements>*:not(.no-format),
.slate-section.format-all-elements>*:not(.no-format),
.row>section,
.row>div,
.row>.spread-auto,
.slate-section>section,
.slate-section>div,
.slate-section>.spread-auto,
body.format-sections section:not(.no-format)>section,
body.format-sections section:not(.no-format)>div,
body.format-sections section:not(.no-format)>.spread-auto {
    display: block;
    width: unset;
    flex: 1 1 0;
    padding: 0.33rem;
}

.set-per-row-12.format-all-elements>*:not(.no-format),
.set-per-row-12>div:not(.no-format),
.set-per-row-12>section:not(.no-format),
.row>.spread-1\/12,
.slate-section>.spread-1\/12,
body.format-sections section:not(.no-format)>.spread-1\/12 {
    width: 8.3333%;
    flex: none;
}

.set-per-row-10.format-all-elements>*:not(.no-format),
.set-per-row-10>div:not(.no-format),
.set-per-row-10>section:not(.no-format),
.row>.spread-1\/10,
.slate-section>.spread-1\/10,
body.format-sections section:not(.no-format)>.spread-1\/10 {
    width: 10%;
    flex: none;
}

.set-per-row-8.format-all-elements>*:not(.no-format),
.set-per-row-8>div:not(.no-format),
.set-per-row-8>section:not(.no-format),
.row>.spread-1\/8,
.slate-section>.spread-1\/8,
body.format-sections section:not(.no-format)>.spread-1\/8 {
    width: 12.5%;
    flex: none;
}

.set-per-row-6.format-all-elements>*:not(.no-format),
.set-per-row-6>div:not(.no-format),
.set-per-row-6>section:not(.no-format),
.row>.spread-2\/12,
.row>.spread-1\/6,
.slate-section>.spread-2\/12,
.slate-section>.spread-1\/6,
body.format-sections section:not(.no-format)>.spread-2\/12,
body.format-sections section:not(.no-format)>.spread-1\/6 {
    width: 16.6666%;
    flex: none;
}

.set-per-row-5.format-all-elements>*:not(.no-format),
.set-per-row-5>div:not(.no-format),
.set-per-row-5>section:not(.no-format),
.row>.spread-2\/10,
.row>.spread-1\/5,
.slate-section>.spread-2\/10,
.slate-section>.spread-1\/5,
body.format-sections section:not(.no-format)>.spread-2\/10,
body.format-sections section:not(.no-format)>.spread-1\/5 {
    width: 20%;
    flex: none;
}

.set-per-row-4.format-all-elements>*:not(.no-format),
.set-per-row-4>div:not(.no-format),
.set-per-row-4>section:not(.no-format),
.row>.spread-3\/12,
.row>.spread-2\/8,
.row>.spread-1\/4,
.slate-section>.spread-3\/12,
.slate-section>.spread-2\/8,
.slate-section>.spread-1\/4,
body.format-sections section:not(.no-format)>.spread-3\/12,
body.format-sections section:not(.no-format)>.spread-2\/8,
body.format-sections section:not(.no-format)>.spread-1\/4 {
    width: 25%;
    flex: none;
}

.row>.spread-3\/10,
.slate-section>.spread-3\/10,
body.format-sections section:not(.no-format)>.spread-3\/10 {
    width: 30%;
    flex: none;
}

.set-per-row-3.format-all-elements>*:not(.no-format),
.set-per-row-3>div:not(.no-format),
.set-per-row-3>section:not(.no-format),
.row>.spread-4\/12,
.row>.spread-2\/6,
.row>.spread-1\/3,
.slate-section>.spread-4\/12,
.slate-section>.spread-2\/6,
.slate-section>.spread-1\/3,
body.format-sections section:not(.no-format)>.spread-4\/12,
body.format-sections section:not(.no-format)>.spread-2\/6,
body.format-sections section:not(.no-format)>.spread-1\/3 {
    width: 33.3333%;
    flex: none;
}

.row>.spread-3\/8,
.slate-section>.spread-3\/8,
body.format-sections section:not(.no-format)>.spread-3\/8 {
    width: 37.5%;
    flex: none;
}

.row>.spread-4\/10,
.row>.spread-2\/5,
.slate-section>.spread-4\/10,
.slate-section>.spread-2\/5,
body.format-sections section:not(.no-format)>.spread-4\/10,
body.format-sections section:not(.no-format)>.spread-2\/5 {
    width: 40%;
    flex: none;
}

.row>.spread-5\/12,
.slate-section>.spread-5\/12,
body.format-sections section:not(.no-format)>.spread-5\/12 {
    width: 41.6666%;
    flex: none;
}

.set-per-row-2.format-all-elements>*:not(.no-format),
.set-per-row-2>div:not(.no-format),
.set-per-row-2>section:not(.no-format),
.row>.spread-6\/12,
.row>.spread-5\/10,
.row>.spread-4\/8,
.row>.spread-3\/6,
.row>.spread-2\/4,
.row>.spread-1\/2,
.slate-section>.spread-6\/12,
.slate-section>.spread-5\/10,
.slate-section>.spread-4\/8,
.slate-section>.spread-3\/6,
.slate-section>.spread-2\/4,
.slate-section>.spread-1\/2,
body.format-sections section:not(.no-format)>.spread-6\/12,
body.format-sections section:not(.no-format)>.spread-5\/10,
body.format-sections section:not(.no-format)>.spread-4\/8,
body.format-sections section:not(.no-format)>.spread-3\/6,
body.format-sections section:not(.no-format)>.spread-2\/4,
body.format-sections section:not(.no-format)>.spread-1\/2 {
    width: 50%;
    flex: none;
}

.row>.spread-7\/12,
.slate-section>.spread-7\/12,
body.format-sections section:not(.no-format)>.spread-7\/12 {
    width: 58.3333%;
    flex: none;
}

.row>.spread-6\/10,
.row>.spread-3\/5,
.slate-section>.spread-6\/10,
.slate-section>.spread-3\/5,
body.format-sections section:not(.no-format)>.spread-6\/10,
body.format-sections section:not(.no-format)>.spread-3\/5 {
    width: 60%;
    flex: none;
}

.row>.spread-5\/8,
.slate-section>.spread-5\/8,
body.format-sections section:not(.no-format)>.spread-5\/8 {
    width: 62.5%;
    flex: none;
}

.row>.spread-8\/12,
.row>.spread-4\/6,
.row>.spread-2\/3,
.slate-section>.spread-8\/12,
.slate-section>.spread-4\/6,
.slate-section>.spread-2\/3,
body.format-sections section:not(.no-format)>.spread-8\/12,
body.format-sections section:not(.no-format)>.spread-4\/6,
body.format-sections section:not(.no-format)>.spread-2\/3 {
    width: 66.6666%;
    flex: none;
}

.row>.spread-7\/10,
.slate-section>.spread-7\/10,
body.format-sections section:not(.no-format)>.spread-7\/10 {
    width: 70%;
    flex: none;
}

.row>.spread-9\/12,
.row>.spread-6\/8,
.row>.spread-3\/4,
.slate-section>.spread-9\/12,
.slate-section>.spread-6\/8,
.slate-section>.spread-3\/4,
body.format-sections section:not(.no-format)>.spread-9\/12,
body.format-sections section:not(.no-format)>.spread-6\/8,
body.format-sections section:not(.no-format)>.spread-3\/4 {
    width: 75%;
    flex: none;
}

.row>.spread-8\/10,
.row>.spread-4\/5,
.slate-section>.spread-8\/10,
.slate-section>.spread-4\/5,
body.format-sections section:not(.no-format)>.spread-8\/10,
body.format-sections section:not(.no-format)>.spread-4\/5 {
    width: 80%;
    flex: none;
}

.row>.spread-10\/12,
.row>.spread-5\/6,
.slate-section>.spread-10\/12,
.slate-section>.spread-5\/6,
body.format-sections section:not(.no-format)>.spread-10\/12,
body.format-sections section:not(.no-format)>.spread-5\/6 {
    width: 83.3333%;
    flex: none;
}

.row>.spread-7\/8,
.slate-section>.spread-7\/8,
body.format-sections section:not(.no-format)>.spread-7\/8 {
    width: 87.5%;
    flex: none;
}

.row>.spread-9\/10,
.slate-section>.spread-9\/10,
body.format-sections section:not(.no-format)>.spread-9\/10 {
    width: 90%;
    flex: none;
}

.row>.spread-11\/12,
.slate-section>.spread-11\/12,
body.format-sections section:not(.no-format)>.spread-11\/12 {
    width: 91.6666%;
    flex: none;
}

.set-per-row-1.format-all-elements>*:not(.no-format),
.set-per-row-1>div:not(.no-format),
.set-per-row-1>section:not(.no-format),
.row>.spread-12\/12,
.row>.spread-10\/10,
.row>.spread-8\/8,
.row>.spread-6\/6,
.row>.spread-5\/5,
.row>.spread-4\/4,
.row>.spread-3\/3,
.row>.spread-2\/2,
.row>.spread-1\/1,
.row>.spread-1,
.row>.spread-full,
.slate-section>.spread-12\/12,
.slate-section>.spread-10\/10,
.slate-section>.spread-8\/8,
.slate-section>.spread-6\/6,
.slate-section>.spread-5\/5,
.slate-section>.spread-4\/4,
.slate-section>.spread-3\/3,
.slate-section>.spread-2\/2,
.slate-section>.spread-1\/1,
.slate-section>.spread-1,
.slate-section>.spread-full,
.slate-section>.row,
body.format-sections section:not(.no-format)>.spread-12\/12,
body.format-sections section:not(.no-format)>.spread-10\/10,
body.format-sections section:not(.no-format)>.spread-8\/8,
body.format-sections section:not(.no-format)>.spread-6\/6,
body.format-sections section:not(.no-format)>.spread-5\/5,
body.format-sections section:not(.no-format)>.spread-4\/4,
body.format-sections section:not(.no-format)>.spread-3\/3,
body.format-sections section:not(.no-format)>.spread-2\/2,
body.format-sections section:not(.no-format)>.spread-1\/1,
body.format-sections section:not(.no-format)>.spread-1,
body.format-sections section:not(.no-format)>.spread-full,
body.format-sections section:not(.no-format)>.row {
    width: 100%;
    flex: none;
}

.set-per-row-11.format-all-elements>*:not(.no-format),
.set-per-row-11>div:not(.no-format),
.set-per-row-11>section:not(.no-format) {
    width: 9.0909%;
    flex: none;
}

.set-per-row-9.format-all-elements>*:not(.no-format),
.set-per-row-9>div:not(.no-format),
.set-per-row-9>section:not(.no-format) {
    width: 11.1111%;
    flex: none;
}

.set-per-row-7.format-all-elements>*:not(.no-format),
.set-per-row-7>div:not(.no-format),
.set-per-row-7>section:not(.no-format) {
    width: 14.2857%;
    flex: none;
}

/* Slate Nudge */

.nudge,
.nudge-1 {
    margin: calc(0.33rem - 1px);
}

.nudge-horizontal,
.nudge-horizontal-1 {
    margin-right: calc(0.33rem - 1px);
    margin-left: calc(0.33rem - 1px);
}

.nudge-vertical,
.nudge-vertical-1 {
    margin-top: calc(0.33rem - 1px);
    margin-bottom: calc(0.33rem - 1px);
}

.nudge-left,
.nudge-left-1 {
    margin-right: calc(0.33rem - 1px);
}

.nudge-up,
.nudge-up-1 {
    margin-bottom: calc(0.33rem - 1px);
}

.nudge-right,
.nudge-right-1 {
    margin-left: calc(0.33rem - 1px);
}

.nudge-down,
.nudge-down-1 {
    margin-top: calc(0.33rem - 1px);
}

.nudge-2 {
    margin: calc(0.66rem - 1px);
}

.nudge-horizontal-2 {
    margin-right: calc(0.66rem - 1px);
    margin-left: calc(0.66rem - 1px);
}

.nudge-vertical-2 {
    margin-top: calc(0.66rem - 1px);
    margin-bottom: calc(0.66rem - 1px);
}

.nudge-left-2 {
    margin-right: calc(0.66rem - 1px);
}

.nudge-up-2 {
    margin-bottom: calc(0.66rem - 1px);
}

.nudge-right-2 {
    margin-left: calc(0.66rem - 1px);
}

.nudge-down-2 {
    margin-top: calc(0.66rem - 1px);
}

.nudge-3 {
    margin: calc(1rem - 1px);
}

.nudge-horizontal-3 {
    margin-right: calc(1rem - 1px);
    margin-left: calc(1rem - 1px);
}

.nudge-vertical-3 {
    margin-top: calc(1rem - 1px);
    margin-bottom: calc(1rem - 1px);
}

.nudge-left-3 {
    margin-right: calc(1rem - 1px);
}

.nudge-up-3 {
    margin-bottom: calc(1rem - 1px);
}

.nudge-right-3 {
    margin-left: calc(1rem - 1px);
}

.nudge-down-3 {
    margin-top: calc(1rem - 1px);
}

.elements-nudge>*,
.elements-nudge-1>* {
    margin: calc(0.33rem - 1px);
}

.elements-nudge-horizontal>*,
.elements-nudge-horizontal-1>* {
    margin-right: calc(0.33rem - 1px);
    margin-left: calc(0.33rem - 1px);
}

.elements-nudge-vertical>*,
.elements-nudge-vertical-1>* {
    margin-top: calc(0.33rem - 1px);
    margin-bottom: calc(0.33rem - 1px);
}

.elements-nudge-left>*,
.elements-nudge-left-1>* {
    margin-right: calc(0.33rem - 1px);
}

.elements-nudge-up>*,
.elements-nudge-up-1>* {
    margin-bottom: calc(0.33rem - 1px);
}

.elements-nudge-right>*,
.elements-nudge-right-1>* {
    margin-left: calc(0.33rem - 1px);
}

.elements-nudge-down>*,
.elements-nudge-down-1>* {
    margin-top: calc(0.33rem - 1px);
}

.elements-nudge-2>* {
    margin: calc(0.66rem - 1px);
}

.elements-nudge-horizontal-2>* {
    margin-right: calc(0.66rem - 1px);
    margin-left: calc(0.66rem - 1px);
}

.elements-nudge-vertical-2>* {
    margin-top: calc(0.66rem - 1px);
    margin-bottom: calc(0.66rem - 1px);
}

.elements-nudge-left-2>* {
    margin-right: calc(0.66rem - 1px);
}

.elements-nudge-up-2>* {
    margin-bottom: calc(0.66rem - 1px);
}

.elements-nudge-right-2>* {
    margin-left: calc(0.66rem - 1px);
}

.elements-nudge-down-2>* {
    margin-top: calc(0.66rem - 1px);
}

.elements-nudge-3>* {
    margin: calc(1rem - 1px);
}

.elements-nudge-horizontal-3>* {
    margin-right: calc(1rem - 1px);
    margin-left: calc(1rem - 1px);
}

.elements-nudge-vertical-3>* {
    margin-top: calc(1rem - 1px);
    margin-bottom: calc(1rem - 1px);
}

.elements-nudge-left-3>* {
    margin-right: calc(1rem - 1px);
}

.elements-nudge-up-3>* {
    margin-bottom: calc(1rem - 1px);
}

.elements-nudge-right-3>* {
    margin-left: calc(1rem - 1px);
}

.elements-nudge-down-3>* {
    margin-top: calc(1rem - 1px);
}

.elements-nudge-4>* {
    margin: calc(1.33rem - 1px);
}

.elements-nudge-horizontal-4>* {
    margin-right: calc(1.33rem - 1px);
    margin-left: calc(1.33rem - 1px);
}

.elements-nudge-vertical-4>* {
    margin-top: calc(1.33rem - 1px);
    margin-bottom: calc(1.33rem - 1px);
}

.elements-nudge-left-4>* {
    margin-right: calc(1.33rem - 1px);
}

.elements-nudge-up-4>* {
    margin-bottom: calc(1.33rem - 1px);
}

.elements-nudge-right-4>* {
    margin-left: calc(1.33rem - 1px);
}

.elements-nudge-down-4>* {
    margin-top: calc(1.33rem - 1px);
}

.elements-nudge-5>* {
    margin: calc(1.66rem - 1px);
}

.elements-nudge-horizontal-5>* {
    margin-right: calc(1.66rem - 1px);
    margin-left: calc(.661rem - 1px);
}

.elements-nudge-vertical-5>* {
    margin-top: calc(.661rem - 1px);
    margin-bottom: calc(1.66rem - 1px);
}

.elements-nudge-left-5>* {
    margin-right: calc(1.66rem - 1px);
}

.elements-nudge-up-5>* {
    margin-bottom: calc(1.66rem - 1px);
}

.elements-nudge-right-5>* {
    margin-left: calc(1.66rem - 1px);
}

.elements-nudge-down-5>* {
    margin-top: calc(1.66rem - 1px);
}



/* Slate Prod */



.prod,
.prod-1 {
    padding: calc(0.33rem - 1px);
}

.prod-horizontal,
.prod-horizontal-1 {
    padding-right: calc(0.33rem - 1px);
    padding-left: calc(0.33rem - 1px);
}

.prod-vertical,
.prod-vertical-1 {
    padding-top: calc(0.33rem - 1px);
    padding-bottom: calc(0.33rem - 1px);
}

.prod-left,
.prod-left-1 {
    padding-right: calc(0.33rem - 1px);
}

.prod-up,
.prod-up-1 {
    padding-bottom: calc(0.33rem - 1px);
}

.prod-right,
.prod-right-1 {
    padding-left: calc(0.33rem - 1px);
}

.prod-down,
.prod-down-1 {
    padding-top: calc(0.33rem - 1px);
}

.prod-2 {
    padding: calc(0.66rem - 1px);
}

.prod-horizontal-2 {
    padding-right: calc(0.66rem - 1px);
    padding-left: calc(0.66rem - 1px);
}

.prod-vertical-2 {
    padding-top: calc(0.66rem - 1px);
    padding-bottom: calc(0.66rem - 1px);
}

.prod-left-2 {
    padding-right: calc(0.66rem - 1px);
}

.prod-up-2 {
    padding-bottom: calc(0.66rem - 1px);
}

.prod-right-2 {
    padding-left: calc(0.66rem - 1px);
}

.prod-down-2 {
    padding-top: calc(0.66rem - 1px);
}

.prod-3 {
    padding: calc(1rem - 1px);
}

.prod-horizontal-3 {
    padding-right: calc(1rem - 1px);
    padding-left: calc(1rem - 1px);
}

.prod-vertical-3 {
    padding-top: calc(1rem - 1px);
    padding-bottom: calc(1rem - 1px);
}

.prod-left-3 {
    padding-right: calc(1rem - 1px);
}

.prod-up-3 {
    padding-bottom: calc(1rem - 1px);
}

.prod-right-3 {
    padding-left: calc(1rem - 1px);
}

.prod-down-3 {
    padding-top: calc(1rem - 1px);
}

.elements-prod>*,
.elements-prod-1>* {
    padding: calc(0.33rem - 1px);
}

.elements-prod-horizontal>*,
.elements-prod-horizontal-1>* {
    padding-right: calc(0.33rem - 1px);
    padding-left: calc(0.33rem - 1px);
}

.elements-prod-vertical>*,
.elements-prod-vertical-1>* {
    padding-top: calc(0.33rem - 1px);
    padding-bottom: calc(0.33rem - 1px);
}

.elements-prod-left>*,
.elements-prod-left-1>* {
    padding-right: calc(0.33rem - 1px);
}

.elements-prod-up>*,
.elements-prod-up-1>* {
    padding-bottom: calc(0.33rem - 1px);
}

.elements-prod-right>*,
.elements-prod-right-1>* {
    padding-left: calc(0.33rem - 1px);
}

.elements-prod-down>*,
.elements-prod-down-1>* {
    padding-top: calc(0.33rem - 1px);
}

.elements-prod-2>* {
    padding: calc(0.66rem - 1px);
}

.elements-prod-horizontal-2>* {
    padding-right: calc(0.66rem - 1px);
    padding-left: calc(0.66rem - 1px);
}

.elements-prod-vertical-2>* {
    padding-top: calc(0.66rem - 1px);
    padding-bottom: calc(0.66rem - 1px);
}

.elements-prod-left-2>* {
    padding-right: calc(0.66rem - 1px);
}

.elements-prod-up-2>* {
    padding-bottom: calc(0.66rem - 1px);
}

.elements-prod-right-2>* {
    padding-left: calc(0.66rem - 1px);
}

.elements-prod-down-2>* {
    padding-top: calc(0.66rem - 1px);
}

.elements-prod-3>* {
    padding: calc(1rem - 1px);
}

.elements-prod-horizontal-3>* {
    padding-right: calc(1rem - 1px);
    padding-left: calc(1rem - 1px);
}

.elements-prod-vertical-3>* {
    padding-top: calc(1rem - 1px);
    padding-bottom: calc(1rem - 1px);
}

.elements-prod-left-3>* {
    padding-right: calc(1rem - 1px);
}

.elements-prod-up-3>* {
    padding-bottom: calc(1rem - 1px);
}

.elements-prod-right-3>* {
    padding-left: calc(1rem - 1px);
}

.elements-prod-down-3>* {
    padding-top: calc(1rem - 1px);
}

.elements-prod-4>* {
    padding: calc(1.33rem - 1px);
}

.elements-prod-horizontal-4>* {
    padding-right: calc(1.33rem - 1px);
    padding-left: calc(1.33rem - 1px);
}

.elements-prod-vertical-4>* {
    padding-top: calc(1.33rem - 1px);
    padding-bottom: calc(1.33rem - 1px);
}

.elements-prod-left-4>* {
    padding-right: calc(1.33rem - 1px);
}

.elements-prod-up-4>* {
    padding-bottom: calc(1.33rem - 1px);
}

.elements-prod-right-4>* {
    padding-left: calc(1.33rem - 1px);
}

.elements-prod-down-4>* {
    padding-top: calc(1.33rem - 1px);
}

.elements-prod-5>* {
    padding: calc(1.66rem - 1px);
}

.elements-prod-horizontal-5>* {
    padding-right: calc(1.66rem - 1px);
    padding-left: calc(1.66rem - 1px);
}

.elements-prod-vertical-5>* {
    padding-top: calc(1.66rem - 1px);
    padding-bottom: calc(1.66rem - 1px);
}

.elements-prod-left-5>* {
    padding-right: calc(1.66rem - 1px);
}

.elements-prod-up-5>* {
    padding-bottom: calc(1.66rem - 1px);
}

.elements-prod-right-5>* {
    padding-left: calc(1.66rem - 1px);
}

.elements-prod-down-5>* {
    padding-top: calc(1.66rem - 1px);
}