:root {
    /* Color used for background formerly d3d3d3*/
    --nearWhite: #f5f5f5;
    /* Color used for elements and body text*/
    --middleGrey: #696969;
    /* Color used for element text*/
    --lighterGrey: #b5b5b5;
    /* Color used for outlines */
    --nearBlack: #1e1e1e;

    --whiteGrey: #d7d7d7;

    --darkerGrey: #4f4f4f;
    /* Color used for elements and body text in "darkmode" */
    /* Color used for element text in "darkmode*/
    
    --cautionColor: #FCFC72;
    --subCautionColor: #E3E366;
    --dangerColor: #fd5b58ff;
    --subDangerColor: #E3524F;
    --infoColor: #3FAEFC;/* #57c9fa; */
    --subInfoColor: #399CE3;
    --successColor: #3FFC7B; /*#04AA6D; /* #58FC8C */
    --subSuccessColor: #39E36F;


    --roundedCorner: 5px;
}

:focus,
:focus-visible,
:active {
    outline: none;
}

html,
body,
p,
ol,
ul,
li,
blockquote,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    margin: 0;
}

footer,
header,
section {
    display: block;
}

hr {
    padding: 0;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body,
input {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.container:not(:last-child),
.block:not(:last-child) {
    margin-bottom: 0.33rem;
}

/* Color Themes  */

body {
    /* Color used for background formerly d3d3d3*/
    --colorBase: var(--nearWhite);
    /* Color used for elements and body text*/
    --colorFirst: var(--middleGrey);
    /* Color used for element text*/
    --colorSecond: var(--lighterGrey);
    /* Color used for outlines */
    --colorLine: var(--nearBlack);

    --colorWeak: var(--whiteGrey);
}

body.theme-dark {
    /* Color used for background formerly d3d3d3*/
    --colorBase: var(--darkerGrey);
    /* Color used for elements and body text*/
    --colorFirst: var(--lighterGrey);
    /* Color used for element text*/
    --colorSecond: var(--middleGrey);
    /* Color used for outlines */
    --colorLine: var(--nearWhite);
    /* STILL CONSIDERING WHAT COLOR TO USE FOR DRAK THEME */
    --colorWeak: var(--whiteGrey);
}

body.theme-night {
    /* Color used for background formerly d3d3d3*/
    --colorBase: var(--nearBlack);
    /* Color used for elements and body text*/
    --colorFirst: var(--darkerGrey);
    /* Color used for element text*/
    --colorSecond: var(--middleGrey);
    /* Color used for outlines */
    --colorLine: var(--nearWhite);
    /* STILL CONSIDERING WHAT COLOR TO USE FOR DRAK THEME */
    --colorWeak: var(--lighterGrey);
}

body,
main {
    background-color: var(--colorBase);
    color: var(--colorLine);
}

nav {
    background-color: var(--colorFirst);
    color: var(--colorBase);
    display: flex;
    align-items: center;
    min-height: calc(1.5em + 0.75rem + 2px);
}

nav.seperate,
nav.push-apart,
.container.seperate,
.container.push-apart {
    justify-content: space-between;
}

nav.split,
.container.split {
    justify-content: space-around;
}

nav.split-evenly,
.container.split-evenly {
    justify-content: space-evenly;
}

nav.center,
nav.push-center,
.container.center,
.container.push-center {
    justify-content: center;
}

nav.push-start,
.container.push-start {
    justify-content: flex-start;
}

nav.push-end,
.container.push-end {
    justify-content: flex-end;
}

.container {
    display: flex;
    align-items: center;
}

.container:not(.no-auto-space) > *{
    margin: 0 calc(0.5rem - 1px);
}

button {
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
    color: var(--btn-text);
    border-width: 1px;
    border-radius: var(--roundedCorner);
    padding: calc(0.5em - 1px);
    cursor: pointer;
    filter: brightness(100%);
}

button:not(.no-hover):hover,
button.show-hover:not(.no-hover) {
    filter: brightness(95%);
}

button.rounded {
    border-radius: 999px;
}

button, button.white {
    --btn-bg: var(--nearWhite);
    --btn-border: var(--whiteGrey);
    --btn-text: var(--nearBlack)
}

button.caution {
    --btn-bg: var(--cautionColor);
    --btn-border: var(--subCautionColor);
    --btn-text: var(--nearBlack)
}

button.danger {
    --btn-bg: var(--dangerColor);
    --btn-border: var(--subDangerColor);
    --btn-text: var(--nearBlack)
}

button.info {
    --btn-bg: var(--infoColor);
    --btn-border: var(--subInfoColor);
    --btn-text: var(--nearBlack)
}

button.success{
    --btn-bg: var(--successColor);
    --btn-border: var(--subSuccessColor);
    --btn-text: var(--nearBlack);
}

/* Button styels and groups */

.button-strip {
    display: flex;
    align-items: center;
}

.button-strip button {
    border-radius: 0;
}

.button-strip:not(.vertical) button {
    margin: 0 -1px;
}

.button-strip:not(.vertical) button:first-child {
    border-top-left-radius: var(--roundedCorner);
    border-bottom-left-radius: var(--roundedCorner);
    margin-left: 0;
}

.button-strip:not(.vertical) button:last-child {
    border-top-right-radius: var(--roundedCorner);
    border-bottom-right-radius: var(--roundedCorner);
    margin-right: 0;
}

.button-strip:not(.vertical).rounded button:first-child {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.button-strip:not(.vertical).rounded button:last-child {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}


input {
    background-color: var(--nearWhite);
    color: var(--colorSecond);
    border-color: var(--colorWeak);
    border-width: 1px;
    border-radius: var(--roundedCorner);
    min-height: 2em;
    /* May move to own cat to add text area */
}

input.bright {
    background-color: #f5f5f5;
}

input.set-in {
    background-color: inherit;
    color: inherit;
    border: 0;
    border-bottom: 1px solid currentColor;
}

input:not(.no-hover):not(.set-in):hover,
input.show-hover:not(.set-in) {
    border-color: var(--colorLine);
}

input:not(.no-selected):not(.set-in):focus,
input:not(.no-selected):not(.set-in):active,
input.show-selected:not(.set-in) {
    box-shadow: 0 0 0 0.1em #57c9fa;
    border-color: var(--colorLine);
}

/* Tables with effect like hover */
/* Hide and show content with peek and show more  */

.block {
    background-color: var(--colorFirst);
    color: var(--colorBase);
    border-radius: 7px;
}

.block.white {
    background-color: var(--nearWhite);
    color: var(--nearBlack);
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

.code-block {
    border-radius: var(--roundedCorner);
}

/* text and inner element control */

.center-text {
    text-align: center;
}

/* Slate Layout */
/* Sidebar Body Sidebar */
/* Slate Sections */

/* body.CLASS section {all sections if body has CLASS}
/* section or .section == container and like a row if there is no .row children */
/* Use .no-format to make section not function like a row or container  */
/* Use .row-contains-# to auto size items so that # of them fits in a row */

.slate-section,
body.format-sections section:not(.no-format) {
    display: flex;
    flex-wrap: wrap;
    width: auto;

}

.slate-section .row,
body.format-sections section:not(.no-format) .row {
    display: flex;
    flex-wrap: nowrap;
    width: auto;

}

.row>div,
.row>.spread-auto,
.slate-section>div,
.slate-section>.spread-auto,
body.format-sections section:not(.no-format)>div,
body.format-sections section:not(.no-format)>.spread-auto {
    display: block;
    width: unset;
    flex: 1 1 0;
    padding: 0.33rem;
}

.row>.spread-1\/12,
.slate-section>.spread-1\/12,
body.format-sections section:not(.no-format)>.spread-1\/12 {
    width: 8.3333%;
    flex: none;
}

.row>.spread-1\/10,
.slate-section>.spread-1\/10,
body.format-sections section:not(.no-format)>.spread-1\/10 {
    width: 10%;
    flex: none;
}

.row>.spread-1\/8,
.slate-section>.spread-1\/8,
body.format-sections section:not(.no-format)>.spread-1\/8 {
    width: 12.5%;
    flex: none;
}

.row>.spread-2\/12,
.row>.spread-1\/6,
.slate-section>.spread-2\/12,
.slate-section>.spread-1\/6,
body.format-sections section:not(.no-format)>.spread-2\/12,
body.format-sections section:not(.no-format)>.spread-1\/6 {
    width: 16.6666%;
    flex: none;
}

.row>.spread-2\/10,
.row>.spread-1\/5,
.slate-section>.spread-2\/10,
.slate-section>.spread-1\/5,
body.format-sections section:not(.no-format)>.spread-2\/10,
body.format-sections section:not(.no-format)>.spread-1\/5 {
    width: 20%;
    flex: none;
}

.row>.spread-3\/12,
.row>.spread-2\/8,
.row>.spread-1\/4,
.slate-section>.spread-3\/12,
.slate-section>.spread-2\/8,
.slate-section>.spread-1\/4,
body.format-sections section:not(.no-format)>.spread-3\/12,
body.format-sections section:not(.no-format)>.spread-2\/8,
body.format-sections section:not(.no-format)>.spread-1\/4 {
    width: 25%;
    flex: none;
}

.row>.spread-3\/10,
.slate-section>.spread-3\/10,
body.format-sections section:not(.no-format)>.spread-3\/10 {
    width: 30%;
    flex: none;
}

.row>.spread-4\/12,
.row>.spread-2\/6,
.row>.spread-1\/3,
.slate-section>.spread-4\/12,
.slate-section>.spread-2\/6,
.slate-section>.spread-1\/3,
body.format-sections section:not(.no-format)>.spread-4\/12,
body.format-sections section:not(.no-format)>.spread-2\/6,
body.format-sections section:not(.no-format)>.spread-1\/3 {
    width: 33.3333%;
    flex: none;
}

.row>.spread-3\/8,
.slate-section>.spread-3\/8,
body.format-sections section:not(.no-format)>.spread-3\/8 {
    width: 37.5%;
    flex: none;
}

.row>.spread-4\/10,
.row>.spread-2\/5,
.slate-section>.spread-4\/10,
.slate-section>.spread-2\/5,
body.format-sections section:not(.no-format)>.spread-4\/10,
body.format-sections section:not(.no-format)>.spread-2\/5 {
    width: 40%;
    flex: none;
}

.row>.spread-5\/12,
.slate-section>.spread-5\/12,
body.format-sections section:not(.no-format)>.spread-5\/12 {
    width: 41.6666%;
    flex: none;
}

.row>.spread-6\/12,
.row>.spread-5\/10,
.row>.spread-4\/8,
.row>.spread-3\/6,
.row>.spread-2\/4,
.row>.spread-1\/2,
.slate-section>.spread-6\/12,
.slate-section>.spread-5\/10,
.slate-section>.spread-4\/8,
.slate-section>.spread-3\/6,
.slate-section>.spread-2\/4,
.slate-section>.spread-1\/2,
body.format-sections section:not(.no-format)>.spread-6\/12,
body.format-sections section:not(.no-format)>.spread-5\/10,
body.format-sections section:not(.no-format)>.spread-4\/8,
body.format-sections section:not(.no-format)>.spread-3\/6,
body.format-sections section:not(.no-format)>.spread-2\/4,
body.format-sections section:not(.no-format)>.spread-1\/2 {
    width: 50%;
    flex: none;
}

.row>.spread-7\/12,
.slate-section>.spread-7\/12,
body.format-sections section:not(.no-format)>.spread-7\/12 {
    width: 58.3333%;
    flex: none;
}

.row>.spread-6\/10,
.row>.spread-3\/5,
.slate-section>.spread-6\/10,
.slate-section>.spread-3\/5,
body.format-sections section:not(.no-format)>.spread-6\/10,
body.format-sections section:not(.no-format)>.spread-3\/5 {
    width: 60%;
    flex: none;
}

.row>.spread-5\/8,
.slate-section>.spread-5\/8,
body.format-sections section:not(.no-format)>.spread-5\/8 {
    width: 62.5%;
    flex: none;
}

.row>.spread-8\/12,
.row>.spread-4\/6,
.row>.spread-2\/3,
.slate-section>.spread-8\/12,
.slate-section>.spread-4\/6,
.slate-section>.spread-2\/3,
body.format-sections section:not(.no-format)>.spread-8\/12,
body.format-sections section:not(.no-format)>.spread-4\/6,
body.format-sections section:not(.no-format)>.spread-2\/3 {
    width: 66.6666%;
    flex: none;
}

.row>.spread-7\/10,
.slate-section>.spread-7\/10,
body.format-sections section:not(.no-format)>.spread-7\/10 {
    width: 70%;
    flex: none;
}

.row>.spread-9\/12,
.row>.spread-6\/8,
.row>.spread-3\/4,
.slate-section>.spread-9\/12,
.slate-section>.spread-6\/8,
.slate-section>.spread-3\/4,
body.format-sections section:not(.no-format)>.spread-9\/12,
body.format-sections section:not(.no-format)>.spread-6\/8,
body.format-sections section:not(.no-format)>.spread-3\/4 {
    width: 75%;
    flex: none;
}

.row>.spread-8\/10,
.row>.spread-4\/5,
.slate-section>.spread-8\/10,
.slate-section>.spread-4\/5,
body.format-sections section:not(.no-format)>.spread-8\/10,
body.format-sections section:not(.no-format)>.spread-4\/5 {
    width: 80%;
    flex: none;
}

.row>.spread-10\/12,
.row>.spread-5\/6,
.slate-section>.spread-10\/12,
.slate-section>.spread-5\/6,
body.format-sections section:not(.no-format)>.spread-10\/12,
body.format-sections section:not(.no-format)>.spread-5\/6 {
    width: 83.3333%;
    flex: none;
}

.row>.spread-7\/8,
.slate-section>.spread-7\/8,
body.format-sections section:not(.no-format)>.spread-7\/8 {
    width: 87.5%;
    flex: none;
}

.row>.spread-9\/10,
.slate-section>.spread-9\/10,
body.format-sections section:not(.no-format)>.spread-9\/10 {
    width: 90%;
    flex: none;
}

.row>.spread-11\/12,
.slate-section>.spread-11\/12,
body.format-sections section:not(.no-format)>.spread-11\/12 {
    width: 91.6666%;
    flex: none;
}

.row>.spread-12\/12,
.row>.spread-10\/10,
.row>.spread-8\/8,
.row>.spread-6\/6,
.row>.spread-5\/5,
.row>.spread-4\/4,
.row>.spread-3\/3,
.row>.spread-2\/2,
.row>.spread-1\/1,
.row>.spread-1,
.row>.spread-full,
.slate-section>.spread-12\/12,
.slate-section>.spread-10\/10,
.slate-section>.spread-8\/8,
.slate-section>.spread-6\/6,
.slate-section>.spread-5\/5,
.slate-section>.spread-4\/4,
.slate-section>.spread-3\/3,
.slate-section>.spread-2\/2,
.slate-section>.spread-1\/1,
.slate-section>.spread-1,
.slate-section>.spread-full,
.slate-section>.row,
body.format-sections section:not(.no-format)>.spread-12\/12,
body.format-sections section:not(.no-format)>.spread-10\/10,
body.format-sections section:not(.no-format)>.spread-8\/8,
body.format-sections section:not(.no-format)>.spread-6\/6,
body.format-sections section:not(.no-format)>.spread-5\/5,
body.format-sections section:not(.no-format)>.spread-4\/4,
body.format-sections section:not(.no-format)>.spread-3\/3,
body.format-sections section:not(.no-format)>.spread-2\/2,
body.format-sections section:not(.no-format)>.spread-1\/1,
body.format-sections section:not(.no-format)>.spread-1,
body.format-sections section:not(.no-format)>.spread-full,
body.format-sections section:not(.no-format)>.row {
    width: 100%;
    flex: none;
}


/* Slate Nudge */
.nudge,
.nudge-1 {
    margin: calc(0.33em - 1px);
}

.nudge-left,
.nudge-left-1 {
    margin-right: calc(0.33em - 1px);
}

.nudge-up,
.nudge-up-1 {
    margin-bottom: calc(0.33em - 1px);
}

.nudge-right,
.nudge-right-1 {
    margin-left: calc(0.33em - 1px);
}

.nudge-down,
.nudge-down-1 {
    margin-top: calc(0.33em - 1px);
}

.nudge-2 {
    margin: calc(0.66em - 1px);
}

.nudge-left-2 {
    margin-right: calc(0.66em - 1px);
}

.nudge-up-2 {
    margin-bottom: calc(0.66em - 1px);
}

.nudge-right-2 {
    margin-left: calc(0.66em - 1px);
}

.nudge-down-2 {
    margin-top: calc(0.66em - 1px);
}

.nudge-3 {
    margin: calc(1em - 1px);
}

.nudge-left-3 {
    margin-right: calc(1em - 1px);
}

.nudge-up-3 {
    margin-bottom: calc(1em - 1px);
}

.nudge-right-3 {
    margin-left: calc(1em - 1px);
}

.nudge-down-3 {
    margin-top: calc(1em - 1px);
}