.layout-display > div {
    text-align: center;
}

.layout-display .block {
    padding: 0.5rem;
}

.nudge-display .container {
    padding: 1em;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
main {
    margin-right: 0.33rem;
}

.sidebar {
    /* The height of navbar + normal padding */
    padding-top: calc(38px + 0.33rem);
}